*{
    margin: 0;
    padding: 0cm;
    text-align: center;
    border-style: solid;
    border-width: 20px;
    border-color: rgba(255, 0, 0, 0.471);
    border-radius: 100%;
    
}

body{
    background-color: hsl(17, 100%, 58%);
    background-image: url(https://c.tenor.com/55FGm2tD6ewAAAAC/tipsy.gif);
    background-blend-mode: multiply;
    font-size: xx-large;
    font-family: Kablammo, Courier, monospace;
    line-height: 2em;
    color: rgb(255, 245, 190);
    
}

h1,h2,h3{

    text-decoration-line: overline underline;
    text-decoration-style: wavy ;
    text-decoration-color: rgb(255, 136, 25);

}

img{
    height: 1200px;
}